*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;

}


#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('background.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%; 
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    border: 1px ;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;

}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
}

#pic{
    display: flex;
}

#pic img{
    width: 400px;
    height: 550px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;

}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.abouttext{
    text-align:justify;
    background-color: blueviolet;
}

.footer{
    text-align: center;
    display: flex;
    padding:20px;  
    background-color: black;  
}

#sosmed img{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}